Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: xcursor-breeze
Xcursor.size:  0

#include ".Xresources.d/flat-remix-green-darkest.conf"

*background:  BACKGROUND
*foreground:  FOREGROUND
*fading:      8
*fadeColor:   black
!! black dark/light
*color0:      BLACK
*color8:      BLACK
!! red dark/light
*color1:      RED
*color9:      RED
!! green dark/light
*color2:      GREEN
*color10:     GREEN
!! yellow dark/light
*color3:      YELLOW
*color11:     YELLOW
!! blue dark/light
*color4:      BLUE
*color12:     BLUE
!! magenta dark/light
*color5:      MAGENTA
*color13:     MAGENTA
!! cyan dark/light
*color6:      CYAN
*color14:     CYAN
!! white dark/light
*color7:      WHITE
*color15:     WHITE

i3wm.font:            Droid Sans 11

rofi.modi:            window,run,combi,drun
rofi.font:            Droid Sans 12
rofi.show-icons:      true
rofi.terminal:        kitty
rofi.hide-scrollbar:  true
rofi.disable-history: false
