Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #272822
XTerm*foreground:        #F8F8F2
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

*background:                      #272822
*foreground:                      #F8F8F2
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #F8F8F2
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #272822
*color8:                          #75715E

!! red dark/light
*color1:                          #F92672
*color9:                          #F92672

!! green dark/light
*color2:                          #A6E22E
*color10:                         #A6E22E

!! yellow dark/light
*color3:                          #F4BF75
*color11:                         #F4BF75

!! blue dark/light
*color4:                          #66D9EF
*color12:                         #66D9EF

!! magenta dark/light
*color5:                          #AE81FF
*color13:                         #AE81FF

!! cyan dark/light
*color6:                          #A1EFE4
*color14:                         #A1EFE4

!! white dark/light
*color7:                          #F8F8F2
*color15:                         #F9F8F5

Xcursor.theme:                    xcursor-breeze
Xcursor.size:                     0
