Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: xcursor-breeze
Xcursor.size:  0

! based on the doom-vibrant Emacs theme
#define BACKGROUND #242730
#define FOREGROUND #bbc2cf
#define BLACK      #242730
#define RED        #ff665c
#define GREEN      #7bc275
#define YELLOW     #fcce7b
#define BLUE       #51afef
#define MAGENTA    #c57bdb
#define CYAN       #5cefff
#define WHITE      #bbc2cf

! TODO: look into dark vs light colors

*background:  BACKGROUND
*foreground:  FOREGROUND
*cursorColor: BLUE
*fading:      8
*fadeColor:   black
!! black dark/light
*color0:      BLACK
*color8:      BLACK
!! red dark/light
*color1:      RED
*color9:      RED
!! green dark/light
*color2:      GREEN
*color10:     GREEN
!! yellow dark/light
*color3:      YELLOW
*color11:     YELLOW
!! blue dark/light
*color4:      BLUE
*color12:     BLUE
!! magenta dark/light
*color5:      MAGENTA
*color13:     MAGENTA
!! cyan dark/light
*color6:      CYAN
*color14:     CYAN
!! white dark/light
*color7:      WHITE
*color15:     WHITE

bspwm.normal-color:  BACKGROUND
bspwm.focused-color: BLUE
bspwm.active-color:  BACKGROUND
bspwm.presel-color:  BLUE

dunst.trivial-color:    GREEN
dunst.trivial-timeout:  10
dunst.normal-color:     BLUE
dunst.normal-timeout:   10
dunst.critical-color:   RED
dunst.critical-timeout: 0

i3lock.ring-color:   BLUE
i3lock.key-hl-color: #dceffb
i3lock.verify-color: MAGENTA
i3lock.error-color:  RED

!                  bg          border      separator
rofi.color-window: BACKGROUND, BLUE,       BLUE
!                  bg          fg          alt-bg      hl-bg   hl-fg
rofi.color-active: BACKGROUND, YELLOW,     BACKGROUND, YELLOW, BACKGROUND
rofi.color-normal: BACKGROUND, FOREGROUND, BACKGROUND, BLUE,   BACKGROUND
rofi.color-urgent: BACKGROUND, RED,        BACKGROUND, RED,    BACKGROUND

rofi.modi:            window,run,combi,drun
rofi.font:            Droid Sans 12
rofi.show-icons:      true
rofi.terminal:        kitty
rofi.hide-scrollbar:  true
rofi.disable-history: false

polybar.background-alt: #3d4451
polybar.primary-color:  BLUE
polybar.alert-color:    RED

zathura.background-alt: #0e0f13
zathura.warning-color:  YELLOW
zathura.error-color:    RED
