Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: xcursor-breeze
Xcursor.size:  0

! based on the doom-vibrant Emacs theme
#define BLACK   #242730
#define RED     #ff665c
#define GREEN   #7bc275
#define YELLOW  #fcce7b
#define BLUE    #51afef
#define MAGENTA #c57bdb
#define CYAN    #5cefff
#define WHITE   #bbc2cf

#define DARK_GRAY     #454b5c
#define LIGHT_RED     #ffaea9
#define LIGHT_GREEN   #aed9aa
#define LIGHT_YELLOW  #feeacb
#define LIGHT_BLUE    #97cff5
#define LIGHT_MAGENTA #dfb7eb
#define LIGHT_CYAN    #a9f7ff
#define LIGHT_GRAY    #8e9aaf

#define BACKGROUND BLACK
#define FOREGROUND WHITE

*background:  BACKGROUND
*foreground:  FOREGROUND
*cursorColor: BLUE
*fading:      8
*fadeColor:   black
*color0:      BLACK
*color1:      RED
*color2:      GREEN
*color3:      YELLOW
*color4:      BLUE
*color5:      MAGENTA
*color6:      CYAN
*color7:      LIGHT_GRAY
*color8:      DARK_GRAY
*color9:      LIGHT_RED
*color10:     LIGHT_GREEN
*color11:     LIGHT_YELLOW
*color12:     LIGHT_BLUE
*color13:     LIGHT_MAGENTA
*color14:     LIGHT_CYAN
*color15:     WHITE

bspwm.normal-color:  BACKGROUND
bspwm.focused-color: BLUE
bspwm.active-color:  BACKGROUND
bspwm.presel-color:  BLUE

dunst.trivial-color:    GREEN
dunst.trivial-timeout:  10
dunst.normal-color:     BLUE
dunst.normal-timeout:   10
dunst.critical-color:   RED
dunst.critical-timeout: 0

i3lock.ring-color:   BLUE
i3lock.key-hl-color: #dceffb
i3lock.verify-color: MAGENTA
i3lock.error-color:  RED

!                  bg          border      separator
rofi.color-window: BACKGROUND, BLUE,       BLUE
!                  bg          fg          alt-bg      hl-bg   hl-fg
rofi.color-active: BACKGROUND, YELLOW,     BACKGROUND, YELLOW, BACKGROUND
rofi.color-normal: BACKGROUND, FOREGROUND, BACKGROUND, BLUE,   BACKGROUND
rofi.color-urgent: BACKGROUND, RED,        BACKGROUND, RED,    BACKGROUND

rofi.modi:            window,run,combi,drun
rofi.font:            Droid Sans 12
rofi.terminal:        kitty
rofi.hide-scrollbar:  true
rofi.disable-history: false

polybar.background-alt: #3d4451
polybar.primary-color:  BLUE
polybar.alert-color:    RED

zathura.foreground:     BLUE
zathura.foreground-alt: LIGHT_BLUE
zathura.background-alt: #0e0f13
zathura.warning-color:  YELLOW
zathura.error-color:    RED
